@import '../../styles/variables';

.gamesList {
    padding-left: 0;
    margin-top: 36px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: $breakpoint-tablet) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.gamesListItem {
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 0;
}

.gamePic {
    min-width: 300px;
    min-height: 165px;
    background-size: cover;
    background-position: center;
    transition: min-width, ease, 0.3s;
    
    &:hover {
        min-width: 320px;

    }
}

.scarletGame {
    background-image: url(../../img/Scatter-Slots.jpg);
}

.loveGame {
    background-image: url(../../img/Love-Slots-Casino.jpg);
}

.jackpotFriendsGame {
    background-image: url(../../img/Jackpot-Friends.jpg);
}

.infinitySlotsGame {
    background-image: url(../../img/Infinity-Slots.png);
}

.houseSlotsGame {
    background-image: url(../../img/House-of-Slots.png);
}

.socialCasinoGame {
    background-image: url(../../img/Social-Casino-Slots-Vegas.png);
}

.gameLink {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: red;
    border-radius: 10px;
    padding: 12px 20px;
    transition: background-color, ease, 0.3s;

    &:hover {
        background-color: rgb(196, 1, 1);
       
    }
}
