@import '../../styles/variables';

.siteData {
    margin-top: 12px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    & > p {
        margin-top: 0;
    }
    
    @media screen and (min-width: $breakpoint-desktop) {
        margin-top: 36px;
        flex-direction: row;
        text-align: start;
    }
}