$breakpoint-tablet: 744px;
$breakpoint-desktop: 1440px;
$header-background-color: black;
$footer-background-color: yellow;
$block-background-color: rgb(241, 241, 241);
$button-background-color: red;
$button-background-color-hover: rgb(196, 1, 1);
$button-text-color: white;
