.footer {
    padding: 0 92px;
    background-color: yellow;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.aboutUs {
    /* width: 66%; */
}

.termsPolicy {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.termsPolicyItem {
    font-size: 18px;
    font-weight: bold;
}
.termsPolicyLink {
    color: black;
    text-decoration: none;
}